
<h1>Add an Investor</h1>
<h2>Enter Information Below to Create a New Accout</h2>
<Input id='firstNameInput'></Input>
<Input id='lastNameInput'></Input>
<button id='createUserBtn'>Submit</button>




{{!-- <ul> --}}
    {{!-- {{{#each stocks}}
    <li>{{this.stockName}}</li>
    {{/each}}
</ul> 
{{#each stocks}} 

Testing 1,2,3
Derek's Bardini --}}

