 <div class="holy-grail-grid">
        <div class="holy-grail-header">
            <ul class="menu menu-hover-lines">
                <li class="active"><a href="#">Dashboard </a></li>
                <li><a href="#">Market </a></li>
                <li><a href="#">Transactions</a></li>
              </ul>
        </div>
      
        <div class="holy-grail-left">
        </div>
      
        <div class="holy-grail-middle">
            <div class="holy-grail-middle">
               <table class="pricing-table hover">
        <thead>
            <h3> Available Stocks</h3>
          <tr>
            <th class="name" width="200">Name</th>
            <th class="price" width="100">Price</th>
            <th class="symbol" width="150">Ticker</th>
            <th class="symbol" width="150">Shares</th>
            <th class="purchase" width="150">Purchase</th>
          </tr>
        </thead>
        <tbody>

        {{#each stocks}}
          {{> stocks/stock-block}}
        {{/each}}

        </tbody>
      </table>
            </div>
        </div>
 
 
 
 
 
 