 <div data-sticky-container>
  <div data-sticky data-options="marginTop:0;">

    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="example-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
      <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown">
        <li class="menu-text">Site Title</li>
        <li>
          <a href="#">One</a>
          <ul class="menu vertical nested">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>

  </div>
</div>


 
 
 
 <div class="holy-grail-grid">
        <div class="holy-grail-header">
            <ul class="menu menu-hover-lines">
                <li class="active"><a href="#">Dashboard </a></li>
                <li><a href="#">Market </a></li>
                <li><a href="#">Transactions</a></li>
              </ul>
        </div>
      
        <div class="holy-grail-left">
        </div>
      
        <div class="holy-grail-middle">
            <div class="holy-grail-middle">
               <table class="pricing-table hover">
        <thead>
            <h3> Available Stocks</h3>
          <tr>
            <th class="name" width="200">Name</th>
            <th class="price" width="100">Price</th>
            <th class="symbol" width="150">Ticker</th>
            <th class="symbol" width="150">Shares</th>
            <th class="purchase" width="150">Purchase</th>
          </tr>
        </thead>
        <tbody>

        {{#each stocks}}
          {{> stocks/stock-block}}
        {{/each}}

        </tbody>
      </table>
            </div>
        </div>
 
 
 
 
 
 