<div class="holy-grail-grid">
        <div class="holy-grail-header">
            <ul class="menu menu-hover-lines">
                <li class="active"><a href="#">Dashboard </a></li>
                <li><a href="#">Market </a></li>
                <li><a href="#">Transactions</a></li>
              </ul>
        </div>
      
        <div class="holy-grail-left">
        </div>
      
        <div class="holy-grail-middle">
            <div class="holy-grail-middle">
                <table class="pricing-table hover">
                    <thead>
                        <h3>My Investments</h3>
                      <tr class="headings">
                        <th class="name" width="200">Name</th>
                        <th class="symbol" width="100">Ticker</th>
                        <th class="value" width="100">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Content Goes Here</td>
                        <td>Symbol Insert Here</td>
                        <td>Value</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>