 <div class="hero-full-screen">

        <div class="top-content-section">
          <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                {{!-- <li><a href="#">Latest Headlines</a></li>
                <li><a href="#">About</a></li> --}}
              </ul>
            </div>
          </div>
        </div>
      
        <div class="middle-content-section">
          <h1>Start Your Investing Journey Today</h1>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<form>
  <div class="form-icons">
    <h4 id="register">Register for an account</h4>

    <div class="input-group">
      <span class="input-group-label">
        <i class="fa fa-user"></i>
      </span>
      <input id="userName" class="input-group-field" type="text" placeholder="Full name" > 
    </div>
  </div>

  <button id="createUser" class="button">Sign Up</button>
</form>

<ul class="list-group">
 {{#each user}}
          {{> stocks/user-block}}
        {{/each}}
</ul>
{{!--       
        <div class="bottom-content-section" data-magellan data-threshold="0">
          <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
        </div> --}}
      
      </div>
      
      <div id="main-content-section" data-magellan-target="main-content-section">
        <!-- your content goes here -->
      </div>
