<div data-sticky-container>
    <div data-sticky data-options="marginTop:0;">
  
      <div class="top-bar" id="example-menu my-nav">
        <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown my-nav">
          <li class="menu-text">Marketplace</li>
          <li>
            <a class="navBtns" href="javascript:history.back()">My Portfolio</a>
          </li>
                <li> <a id='transactionsBtn' class="navBtns">Transactions</a></li>
          <li><a class="navBtns" href="/">Sign Out</a></li>
        </ul>
      </div>
  </div>
  <br>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
       <div class="cell large-12 small-12 my-card profile-card">
           <h1>Available Stocks</h1>
       </div>
    </div>
  {{!-- <h4>Investments</h4> --}}
    <div class="grid-x opacity-card">
    </div>
     <div class="grid-x opacity-card">
       <div class="cell small-8 large-offset-2 my-card my-stock">
        <div class="grid-x stockBlock">
            <div class="cell large-2 small-2">Amazon</div>
            <div class="cell large-2 small-2"></div>
            <div class="cell large-2 small-2">$40</div>
            <div class="cell large-2 small-2"></div>
            <div class="cell large-2 small-2">AMZN</div>
        </div>
            <input class="cell large-2 small-2" id="buy" type="text" placeholder="Value"><button data-open="purchaseModal" href="#" class="button postfix buyBtn">Buy Now</button></div>

          <div class="grid-x stockBlock">

          {{#each stock}}
          {{> stocks/stock-block}}
          {{/each}}
        </tbody>
      </table>
          {{> stocks/buymodal}}

    </div>
  </div>