<div class="reveal" id="purchaseModal" data-reveal>
            <h3>Congrats!</h3>
            <p class="lead">You now own shares in this stock.</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span class="xBtn" aria-hidden="true">&times;</span>
            </button>
          </div>