<div class="reveal" id="purchaseModal" data-reveal>
            <h1>Congrats!</h1>
            <p class="lead">You now own stock in this stock.</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>