{{!-- <div class="tiny-reveal" id="sellModal" data-reveal>
            <h3>It was fun while it lasted...</h3>
            <p class="lead">You have sold your shares.</p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
              <span class="xBtn" aria-hidden="true">&times;</span>
            </button>
          </div> --}}