<tr>
	<td>{{stockName}}</td>
	<td>{{price}}</td>
	<td>{{symbol}}</td>
	<td> <input type="text" placeholder="Value">
        </div>
        <div class="small-3 columns">
          <a href="#" class="button postfix">Buy Now</a>
        </div></td>
</tr>
