
.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/Stock_Market.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: top;
  color:black;
  font-weight: bolder;
  text-shadow: 50px;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 6rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

/* Start of the price table css */


.pricing-table {
  background-color: grey;
  border: solid 4px #cacaca;
  width: 100%;
  text-align: left;
  list-style-type: none;
}

.pricing-table li {
  border-bottom: dotted 1px #cacaca;
  padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child {
  border-bottom: 0;
}

.pricing-table .title {
  background-color: #0a0a0a;
  color: #fefefe;
  border-bottom: 0;
}

.pricing-table  {
  background-color: #e6e6e6;
  font-size: 15px;
  border-bottom: 0;
}

.pricing-table .description {
  color: #8a8a8a;
  font-size: 80%;
}

.pricing-table :last-child {
  margin-bottom: 4px;
}

/* Navbar */


.menu-hover-lines {
text-align: center;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 0px;
transition: all 0.35s ease;
font-size: 20px;
}

.menu-hover-lines li a {
padding: 0.75rem 0;
color: rgba(10, 10, 10, 0.5);
position: relative;
margin-left: 2rem;
}

.menu-hover-lines li:first-child a {
margin-left: 0;
}

.menu-hover-lines li.active > a {
background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
height: 3px;
position: absolute;
content: '';
transition: all 0.35s ease;
background-color: #1779ba;
width: 0;
}

.menu-hover-lines a::before {
top: 0;
left: 0;
}

.menu-hover-lines a::after {
bottom: 0;
right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
color: #0a0a0a;
transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
width: 100%;
}



body {
background-color: #1779ba;
}

.headings {
font-size:20px;
}

h3 {
font-weight: bold;
font-size: 30px;
text-align: center;

}

/* test */


.holy-grail-grid {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
-ms-grid-rows: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
grid-gap: 10px;
height: 100vh;
}

@media screen and (max-width: 60em) {
.holy-grail-grid {
  -ms-grid-rows: 1fr 1fr 5fr 1fr;
      grid-template-rows: 1fr 1fr 5fr 1fr;
}
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-right,
.holy-grail-footer {
padding: 1rem;
;
}

.holy-grail-middle,
.holy-grail-header {
padding: 1rem;
border: 1px solid #ededed;
background-color: #ededed;
}

.holy-grail-header {
-ms-grid-column: ;
    grid-column-start: 1;
grid-column-end: 4;
-ms-grid-row: 1;
    grid-row-start: 1;
    height: 10vh;

}

@media screen and (max-width: 60em) {
.holy-grail-left {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}
}

@media screen and (max-width: 60em) {
.holy-grail-middle {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}
}

@media screen and (max-width: 60em) {
.right-nav {
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}
}

